* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../images/topbg3.jpg);

  background-size: cover;
  background-position: center;
}
#header {
  width: 100% !important;
  margin: 0;
  height: 42vw;
  background-image: url("../images/topbg3.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  opacity: 0.95;
  color: rgb(255, 0, 106);
}

ul {
  float: right;
  list-style-type: none;
  margin-top: 20px;
}
ul li {
  display: inline;
}
ul li a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  padding: 5px 20px;
  border: 1px solid transparent;
  transition: 0.6s ease;
}
ul li a:hover {
  color: rgb(255, 162, 162);
  background-color: rgb(255, 255, 255);
}


html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
}

#seconddiv {
  margin: 0 auto;
  width: 100%;
  /* height: 80px; */
  padding: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
#seconddiv > div {
  display: flex;
  align-content: center;
  justify-content: center;
}

.a1 {
  height: 50px;
  margin-top: 2px;
  font-size: 30px;
  border-radius: 25px;
  background-color: rgba(253, 253, 252, 0.198);
  padding: 5px 10px;
  color: rgb(247, 206, 73);
  font-family: "Handlee", cursive;
  cursor: pointer;
  
  text-decoration: none;
  align-items: center;
}
.img1 {
  height: 130px !important;
}
.a1:hover {
  color: rgb(0, 0, 0);
  background-color: rgb(114, 180, 211);
  box-shadow: rgba(255, 255, 255, 0.22) 0px 19px 43px;
  transform: translate3d(0px, -1px, 0px);
}
.active
{
  color: rgb(0, 0, 0);
  background-color: rgb(114, 180, 211);
  box-shadow: rgba(255, 255, 255, 0.22) 0px 19px 43px;
 

}


.brandname {
  width: 70%;
  margin: 50px auto;
  height: 60px;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  align-content: center;
  justify-content: center;
}
.startline {
  height: 2.5px;
  background-image: linear-gradient(200deg, white, orange);
  margin: auto 0;
}

.brandtext {
  min-height: 40px;
  font-size: 40px;
  font-family: "Cookie", cursive;
  font-style: bold;
  color: black;
  display: flex;
  align-content: center;
  justify-content: center;
}
.endline {
  height: 2.5px;
  background-image: linear-gradient(-200deg, white, orange);
  margin: auto 0;
}

.footer {
  height: auto;
  width: 100%;
  margin: 0 auto;
  margin-top: 0;
  background-color: #050606;
  display: grid;
  grid-template-columns: 40% 40%;
  justify-content: space-around;
  align-content: space-around;
}
.logos {
  margin: 100px auto;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  align-content: center;
  justify-content: center;
}

.icons {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin: 20px;
  margin: 50px auto;
  width: 50%;
}
.icon {
  height: 32px;
  width: 32px;
}
#nbc {
  font-size: 30px;
  color: white;
  font-family: "Abhaya Libre", serif;
}
#signin {
  font-size: 20px;
  color: white;
  font-family: "Abhaya Libre", serif;
  display: flex;
  align-content: center;
  justify-content: center;
}
.newsletter {
  margin: 100px auto;
  display: grid;
  grid-template-columns: 1fr;
  align-content: space-around;
  justify-content: space-around;
}
.newsletter input {
  font-style: Bahnschrift SemiBold;
  padding: 10px;
}
.newsletter button {
  font-style: Bahnschrift SemiBold;
  border: 1px solid white;
  color: white;
  background-color: lightblue;
  font-style: bold;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 12px;
  padding-top: 12px;
  cursor: pointer;
}

.copy {
  height: 70px;
  color: white;
  font-size: 20px;
  font-family: "Poiret One", cursive;
  background-color: #050606;
  width: 100%;
  display: flex;
  align-content: center;
  justify-content: center;
  text-align: center;
}
h1 {
  font-size: 4vw;
  color: white;
  font-family: "Cormorant Upright", serif;
  font-weight: bold;
  text-align: center;
  text-decoration: overline;
  opacity: 2;
  text-shadow: 2px 2px 8px #145a32;
}
h2 {
  font-size: 2vw;
  color: white;
  font-family: "Poiret One", cursive;
  text-align: center;
  line-height: 10%;
  opacity: 2;
  text-shadow: 2px 2px 8px #145a32;
}

@media screen and (max-width: 600px) {
  .a1 {
    font-size: 10px;
    height: 30px;
  }
  .img1 {
    height: 40px !important;
    margin: 0 auto;
  }
  #seconddiv {
    grid-template-columns: 0.8fr 0.8fr 1.2fr 0.8fr 0.8fr;
    width: 100% !important;
    margin: 0 !important;
  }
  .footer {
    padding: 20px 0;
    grid-template-columns: 90%;
  }
}
.artist {
  width: 100%;
  margin-top: 30px;
  display: grid;
  grid-template-columns: 22% 22% 22% 22%;
  justify-content: space-evenly;
}
.artigal {
  width: 100%;
  height: auto;
  overflow: hidden;
  display: flex;
  align-content: center;
  justify-content: center;
  border-radius: 10px;
  margin: 20px auto;
}
.artigal img {
  width: 100%;
  height: auto;
}
